/* set consistent starting point for styling and layout across the html document */

/* style the main body */
body {
    display: flex; /* set flex property to define various flexbox properties */
    background-color: #f2f2f2;
    justify-content: center; 
    align-items: center;
    height: 100vh; /* set viewport height to 100% to ensure body element and its children fill the entire height of the viewport */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; /* remove default margin */
}

/* style the header container */
.header-container {
    background-color: aquamarine;
    width: 50%; /* set width of header container to 30% of the containing block to ensure screen responsiveness */
    /* height: 100px; /* remove this to ensure header content is aligned at the center horizontally */
    padding: 20px;
    text-align: center;
    /*margin: auto; /* center the header container horizontally */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

/* style the header */
.header {
    color: #333333;    
    letter-spacing: 2px;
    font-size: 24px;
}

/* style introduction container */
.intro-container {
    background-color: gray;
    width: 50%; /* set width of header container to 30% of the containing block to ensure screen responsiveness */
    /* height: 100px; /* remove this to ensure header content is aligned at the center horizontally */
    padding: 20px;
    text-align: center;
    /*margin: auto; /* center the header container horizontally */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

/* style the intro */
.intro {
    color: #333333;    
    letter-spacing: 1.2px;
    font-size: 12px; 
}